
.window{
    width: 750px; 
    height: 550px; 
    border: 1px solid #000;
}

section {

    display: flex;
}

.container {
    text-align: center;
}



  

circle.bolitaDeath {

    animation: changeColor 0.5s infinite;
}
  
@keyframes changeColor {
    from {fill: red;}
    to {fill: blue;}
}